dist: xenial
sudo: required
language: python
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - 3.9

before_install:
  - nvm install 12

install:
  - pip install .[tests]
  - pip install gunicorn psycopg2 mysql-connector-python
  - npm install chromedriver

script:
  - ./misc/travis_test.sh

env:
  - DB=sqlite
  - DB=mysql
  - DB=postgres

services:
  - mysql
  - postgresql
  - xvfb

notifications:
  email: false

# Based on https://gist.github.com/chitoku-k/67068aa62aa3f077f5307ca9a822ce74
addons:
  chrome: stable
