{% extends "base.html" %}
{% block body %}
    {% if is_ipython %}
        <h2>{{ short_path }}</h2>
    {% else %}
    <h2>File: <span class="code-font">{{ short_path }}</span></h2>
    <p><strong>Full path: </strong>{{ full_path }}</p>
    {% endif %}
    <h3>Functions:</h3>
    {% for func in funcs %}
        <li>
            <a class="code-font"
               href="{{ url_for('func_view', path=full_path, func_name=func.0) }}">
                {{ func.0 }}
            </a>
        </li>
    {% endfor %}
{% endblock %}